{% extends "column_1.html" %}

{% load i18n pagination %}

{% block page_title %} {% trans "Inwentaryzacja" %} {% endblock %}

{% block css %} 
	{{ block.super }}
	<link rel="stylesheet" href="{{ STATIC_URL }}lock/css/style.css" type="text/css" />
{% endblock %}

{% block horizontal_menu_items %} 

{% endblock %}

{% block breadcrumb %} 
	{{ block.super }}
	<a href="{% url apps.lock.views.index %}">{% trans "Inwentaryzacja" %}</a>
{% endblock %}
		
{% block content %}
	{% if form %}
		<div class="search_form">		
			<form action="" method="post">
				{% csrf_token %}
				{{ form.query.errors }}{{ form.query }}
				{% if request.user.get_profile.lockadmin %}
					{{ form.user }}
				{% endif %}
				<button class="button_2" type="submit">Szukaj</button>
			</form>
		</div>
	
		{% if items %}
			<table class="table_0 table_items">
				<thead>
					<tr>
						<td class="item">{% trans "Przedmiot" %}</td>
						<td class="serial_number">{% trans "Numer seryjny" %}</td>
						<td class="inventory_number">{% trans "Numer inwentarzowy" %}</td>
						<td class="type">{% trans "Typ" %}</td>
						<td class="room">{% trans "Pokój" %}</td>
						<td class="price">{% trans "Wartość" %}</td>
						<td class="user">{% trans "Powiązane osoby" %}</td>
						<td class="actions">{% trans "Actions" %}</td>
					</tr>
				</thead>
				<tbody>
					{% for item in items.object_list %}
					<tr>
						<td><a class="link_preview link_0" href="{% url apps.lock.views.show_item id_item=item.id %}">{{ item.name }}</a></td>
						<td>{{ item.serial_number }}</td>
						<td>{{ item.inventory_number }}</td>
						<td>{{ item.type }}</td>
						<td>{{ item.room }}</td>
						<td class="price">{{ item.price }} zł</td>
						<td>
							<ul class="square">
								{% for itemuser in item.itemuser_set.all %}
									<li>{{ itemuser.user }} ({{ itemuser.type }})</li>
								{% endfor %}
							</ul>
						</td>
						<td><a class="link_0 link_print" href="{% url apps.lock.views.print_receipt id_item=item.id %}" target="_blank">{% trans "Wydrukuj rewers" %}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			
			{% paginator items %}
		{% else %}
			<ul class="infolist">
				<li>Lista przedmiotów do wyświetlenia jest pusta.</li>
			</ul>
		{% endif %}
	{% else %}
		<ul class="infolist">
			<li>Aplikacja przeznaczona wyłącznie dla pracowników Instytutu Informatyki.</li>
		</ul>
	{% endif %}
{% endblock %}