{% extends "base_0p.html" %}

{% load i18n %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ STATIC_URL }}syjon/css/print.css" type="text/css" />
	<style>
		p.no_margin {margin: 0 0 0 0;}
		p.no_margin_bottom {margin-bottom: 0;}
		p.small {margin: 0 0 0 0; font-size: 11px;}
		
		table td {border: 0px; font-size: 16px;}
   </style>
{% endblock %}

{% block body %}
	<div style="text-align: right; margin-bottom: 40px;">
		<p>Załącznik nr 3 do zarządzenia nr 10/98</p>
		<p>Lublin dn. {% now "d.m.Y" %}</p>
	</div>
	
	<div style="margin-bottom: 120px;">
		<p>Przekazujący:</p>
		<p class="no_margin_bottom"><b>{{ item.get_item_owner }}</b></p>
		<p class="small">(Imię i nazwisko osoby materialnie odpowiedzialnej)</p>
		<p class="no_margin_bottom"><b>{{ item.room.department.name }}</b></p>
		<p class="small">(Jednostka Organizacyjna UMCS)</p>
	</div>

	<h2 style="text-align: center; margin-bottom: 80px;">REWERS</h2>
	
	<div style="margin-bottom: 160px;">
		<p>Ninijszym przekazuję:</p>
		
		<p class="no_margin_bottom">Panu(i):</p>
		<p class="no_margin"><b>{{ item.get_item_user }}</b>;</p>
		<p class="no_margin_bottom">stanowisko służbowe:</p>
		<p class="no_margin"><b>{{ item.get_item_user.teacher.position }}</b>;</p>
		<p class="no_margin_bottom">określić rodzaj sprzętu:</p>
		<p class="no_margin"><b>{{ item }}, {{ item.inventory_number }}</b>;</p>
		<p style="text-align: justify">w&nbsp;celu wykonywania obowiązków wynikających ze stosunku pracy. Równocześnie informuję, iż Przyjmujący bierze pełną odpowiedzialność za jego użytkowanie, a&nbsp;w&nbsp;razie uszkodzenia lub zagubienia zobowiązuje się do naprawienia szkody w&nbsp;granicach rzeczywistej straty poniesionej przez pracodawcę.</p>
	</div>
	
	<table style="width: 100%; text-align: center;">
		<tr>
			<td>Przekazujący</td>
			<td>Przyjmujący</td>
		</tr>
	</table>
{% endblock %}
