.bg_color_dark {background-color: #007f00;}
#horizontal_menu ul li a:hover {background-color: #00bf00;}

.search_form {margin-bottom: 10px;}
.search_form input[type="text"] {width: 307px;}

.table_items {margin-bottom: 10px;}
.table_items .item {}
.table_items .serial_number {width: 200px;}
.table_items .inventory_number {width: 200px;}
.table_items .type {width: 150px;}
.table_items .room {width: 150px;}
.table_items thead .price {width: 80px;}
.table_items tbody .price {text-align: right;}
.table_items .user {width: 250px;}
.table_items .actions {width: 120px;}

.table_item_details .image img {max-width: 640px; max-height: 480px;}

/* ------------------------------------------------------ */
/* --- PAGINATION */
/* ------------------------------------------------------ */

.pagination {text-align: center;}
.pagination .wrapper {display: inline-block;}
.pagination a {display: block; float: left; margin: 2px;}
.pagination span {display: block; float: left; margin: 2px;}
.pagination .link {width: 20px; height: 20px; text-align: center; line-height: 20px; text-decoration: none; border: 1px solid #C0BFC4; color: #C0BFC4;}
.pagination .link:hover {background: #4d4a5e; color: #ffffff; }
.pagination .current {font-weight: bold; background: #4d4a5e; color: #ffffff;}
.pagination .previous {color: #4d4a5e; height: 22px; line-height: 22px; display: inline-block; text-decoration: none;}
.pagination .previous:hover {text-decoration: underline;}
.pagination .next {color: #4d4a5e; height: 22px; line-height: 22px; display: inline-block; text-decoration: none;}
.pagination .next:hover {text-decoration: underline;}
